
html {
  font-size: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-box {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1rem;
}

.list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.wrap {
  min-width: 200px;
}

.img {
  min-width: 200px;
  border-radius: 10px;
  border: 2px solid white;
  will-change: filter;
  transition: filter 300ms;
}

.img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #646cffaa);
}
