
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.wrap {
  min-width: 200px;
}

.img {
  will-change: filter;
  transition: filter 300ms;
}

.img:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
