
html {
  font-size: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.h1 {
  font-size: 2rem;
}
.search-box {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid white;
}

.sorting-toggle-btn,
.back-to-list-btn {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  margin-left: 20px;
  cursor: pointer;
}

.list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.wrap {
  min-width: 200px;
}

.img,
.char-img {
  min-width: 200px;
  border-radius: 10px;
  border: 2px solid white;
  will-change: filter;
  transition: filter 300ms;
}

.img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #646cffaa);
}

.species-gender,
.char-species-gender {
  color: #9e9e9e;
}